[run]
omit =
    mushroom_rl/utils/isaac_sim/*
    mushroom_rl/environments/isaacsim_env.py
    mushroom_rl/environments/isaacsim_envs/*
    mushroom_rl/utils/mujoco/viewer.py
    mushroom_rl/utils/pybullet/viewer.py
    mushroom_rl/utils/plots/*
    mushroom_rl/utils/callbacks/plot_dataset.py
